version: '3.8'
services:
  web:
    build: .
    ports:
      - '8000:8000'
    volumes:
      - ./:/app
    environment:
      - DATABASE_URL=sqlite:///./tinyurlr.sqlite3

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - '9090:9090'
