name: CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      ACR_NAME: ${{ secrets.ACR_REGISTRY }}
      ACR_FQDN: ${{ secrets.ACR_REGISTRY }}.azurecr.io
      IMAGE_SHA: ${{ secrets.ACR_REGISTRY }}.azurecr.io/tinyurl:${{ github.sha }}
      IMAGE_LATEST: ${{ secrets.ACR_REGISTRY }}.azurecr.io/tinyurl:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR (Docker)
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_FQDN }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push images to ACR
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_SHA }}
            ${{ env.IMAGE_LATEST }}

      - name: Deploy to Azure Web App for Containers
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
          images: ${{ env.IMAGE_LATEST }}
