name: CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    permissions:
      packages: write
      contents: read
    if: ${{ secrets.GHCR_PAT != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Debug environment
        run: |
          echo "Python: $(python -V)"
          echo "PWD: $(pwd)"
          ls -la
      - uses: actions/checkout@v4

      - name: Log in to registry (PAT)
        if: ${{ secrets.GHCR_PAT }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Log in to registry (GITHUB_TOKEN)
        if: ${{ !secrets.GHCR_PAT }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
